<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div>
			<form action="/products<%= product ? '/' + product.id : '' %>" method="post">
				<label>
					Enter Title
					<input type="text" value="<%= product?.title %>" name="title" />
				</label>
				<label>
					Enter Price
					<input type="number" value="<%= product?.price %>" name="price" />
				</label>
				<label>
					Enter Test From To (2 -10)
					<input type="text" value="<%= product?.test %>" name="test" />
				</label>
				<button type="submit"><%= product? 'confirm changes' : 'create' %> Add new prod</button>
			</form>
		</div>
	</body>
</html>
