<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Рибацькі товари</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />

		<script>
			async function onDeleteProd(id) {
				console.log("id", id)
				try {
					const response = await fetch("/products/", {
						method: "DELETE",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({ id }),
					})

					if (response.ok) {
						console.log("product deleted")
						//window.location.reload(true)
						window.location.href = "/products"
					} else {
						console.error("problem with deleting product")
					}
				} catch (error) {
					console.error("Error:", error)
				}
			}
		</script>

		<script src="/javascripts/RequiestManager.js"></script>
	</head>
	<body>
		<div class="products-container">
			<% products.forEach((product) => { %>
			<div class="products-container__item">
				<a href="/products/<%= product.id %>">
					<div class="products-container__info">
						<span class="products-container__label">Title:</span>
						<span class="products-container__title"><%= product.title %></span>
					</div>
					<div class="products-container__info">
						<span class="products-container__label">Spining test:</span>
						<span class="products-container__test"><%= product.test %></span>
					</div>
					<div class="products-container__info">
						<span class="products-container__label">Price:</span>
						<span class="products-container__price"><%= product.price %></span>
					</div>
				</a>

				<button class="delete-btn" onclick="RequestManager.deleteRequest('/products', { id: `<%= product.id %>` })">delte</button>
				<a href="/products/edit/<%= product.id %>" class="delete-btn">edit</a>
			</div>
			<% }) %>
		</div>
		<hr />
		<a href="/products/create">Add new product</a>
	</body>
</html>
